stock-market-service/.idea/
stock-market-service/.mvn/
stock-market-service/target/
stock-trading-service/.idea/
stock-trading-service/.mvn/
stock-trading-service/target/
frontend/log-parser/logs/
frontend/log-parser/duration_stats.txt
frontend/log-parser/stock_stats.txt
.idea/
HELP.md
mvnw
mvnw.cmd
Documentation/
.env
frontend/Data.js
frontend/.vscode
text.txt
.vscode