html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.page-container{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow: hidden;
}

.page-content-container{
    min-width: 90%;
    max-width: 90%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.sidebar-container{
    width: 10%;
}