<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="STOCK_FILE" class="ch.qos.logback.core.FileAppender">
        <file>./frontend/log-parser/logs/stocks.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Logger configurations -->
    <logger name="stockLogger" level="INFO" additivity="false">
        <appender-ref ref="STOCK_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>